{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "insertPragma": false,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 4,
  "printWidth": 120
}
